@{
    ViewBag.Title = "Home Page";
}


<h2>Hospital</h2>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div style="background-image:url(https://www.ecommunity.com/sites/default/files/styles/location_hero_full/public/location/2016-06/CommunityHospitalSouth-day.jpg?itok=zH72hpv_);height:540px;width:1145px">
            <center>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <p>
                    <a href="@Url.Action("Index", "Medicos")" class="btn btn-info" role="button">Medico</a>
                    <a href="@Url.Action("Index","Pacientes")" class="btn btn-info" role="button">Paciente</a>
                </p>
            </center>
        </div>
    </div>
</div>